<%- include('./partials/head') %>

<ul>
<% for (var i = 0; i < data.artObjects.length; i++) { %>

    <li style="margin-bottom: <%- (i * -100); %>vh">
        <h1><%- data.artObjects[i].title %></h1>
        <% if(data.artObjects[i].webImage != null){ %>
            <img alt="<%- data.artObjects[i].title %>" src=<%-data.artObjects[i].webImage.url.slice(0, -3)+"=s500" %>>
         <% } %>  
    </li>
    <% } %>
</ul>


    <div class="error">
        <p>Error Api werkt niet</p>
    </div>

    <div class="menu">
        <h2>Settings</h2>
        <p>Filter artist</p>
        <select id="selectNumber">
            <option class="defaultOption">Choose a artist</option>
        </select>
    </div> -->
     <div class="menuButton">
        <div></div>
    </div>

    <script>
       var names =  "<%- names %>";
       names = names.split(","); 
    for(let i = 0; i < names.length; i++) {
        var opt = names[i];
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        document.getElementById("selectNumber").appendChild(el);
    }

    document.getElementById("selectNumber").addEventListener("change", function() {
        window.location.href=this.value;
    }); 
    </script>

    <%- include('./partials/foot') %>
