<%- include('./partials/head') %>

<ul>
<% for (var i = 0; i < data.artObjects.length; i++) { %>

    <li style="margin-bottom: <%- (i * -100); %>vh">
        <h1><%- data.artObjects[i].title %></h1>
        <img src=<%- data.artObjects[i].webImage.url.slice(0, -3)+"=s500" %>>
    </li>
    <% } %>
</ul>


    <div class="error">
        <p>Error Api werkt niet</p>
    </div>
<!-- 
    <div class="menu">
        <h2>Settings</h2>
        <p>Filter artist</p>
        <select id="selectNumber">
            <option class="defaultOption">Choose a artist</option>
        </select>
    </div> -->
    <!-- <div class="menuButton">
        <div></div>
    </div> -->
    <%- include('./partials/foot') %>
